/*------------------FUENTES------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:ital,wght@1,100&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap");
/*------------------BASEGENERAL------------------*/
/*------------------RESETEO------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*------------------BODY------------------*/
body {
  font-family: 'Titillium Web', sans-serif; }

/*------------------NAV------------------*/
.nav {
  font-family: 'Titillium Web', sans-serif; }
  .nav .nav__logo {
    height: 45px; }
    .nav .nav__logo:hover {
      transform: scale(1.1); }

/*------------------MAINstyleINICIO------------------*/
.main__carrusel {
  height: auto;
  width: 100%; }
  .main__carrusel .main__redireccion {
    position: relative; }
    .main__carrusel .main__redireccion .main__imgopacidad {
      filter: brightness(0.9); }
      .main__carrusel .main__redireccion .main__imgopacidad:hover {
        filter: brightness(0.6);
        transform: scale(1.05); }
    .main__carrusel .main__redireccion .main__caption {
      position: absolute;
      top: 38%;
      left: 0;
      width: 100%; }
      .main__carrusel .main__redireccion .main__caption .main__captiontexto {
        text-decoration: none;
        color: white;
        font-size: 35px;
        font-family: 'Titillium Web', sans-serif; }
      .main__carrusel .main__redireccion .main__caption .main__botonindex {
        background-color: rgba(0, 0, 0, 0);
        color: white; }
        .main__carrusel .main__redireccion .main__caption .main__botonindex:hover {
          background-color: rgba(0, 0, 0, 0.5); }

/*------------------MAIN-style-1SERVICIOS------------------*/
.main__info {
  background-color: #f7e0d7;
  width: 100%;
  height: auto;
  font-family: 'Titillium Web', sans-serif; }
  .main__info .main__botonreservar {
    text-decoration: none;
    color: black;
    background-color: #f7e0d7; }
    .main__info .main__botonreservar:hover {
      background-color: black;
      color: #f7e0d7; }

/*------------------MAIN-style2-MAQUILLAJES-----------------*/
.main__titulo {
  font-family: 'Titillium Web', sans-serif; }

.galeria {
  display: grid;
  height: auto;
  grid-template-areas: "foto1 foto1 foto2 foto3 foto4" "foto1 foto1 foto5 foto6 foto6" "foto7 foto8 foto9 foto6 foto6";
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 20px 40px; }
  .galeria .galeria__fotos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
    box-shadow: 1px 1px 15px #d1cccc; }
    .galeria .galeria__fotos:hover {
      transform: scale(1.07); }

#foto1 {
  grid-area: foto1; }

#foto2 {
  grid-area: foto2; }

#foto3 {
  grid-area: foto3; }

#foto4 {
  grid-area: foto4; }

#foto5 {
  grid-area: foto5; }

#foto6 {
  grid-area: foto6; }

#foto7 {
  grid-area: foto7; }

#foto8 {
  grid-area: foto8; }

#foto9 {
  grid-area: foto9; }

/*------------------MAIN-style3-SOBRENOS-----------------*/
.main__sobrenos {
  font-family: 'Titillium Web', sans-serif; }
  .main__sobrenos .main__imgh {
    width: 100%;
    height: auto; }

/*------------------MAIN-style4-CONTACTO-----------------*/
.main__formulario {
  font-family: 'Titillium Web', sans-serif; }
  .main__formulario .main__enviar {
    box-shadow: 1px 1px 15px #c5bfbf; }
    .main__formulario .main__enviar:hover {
      box-shadow: 1px 1px 15px #7a7777; }

/*------------------FOOTER------------------*/
.footer {
  height: 10vh;
  font-family: 'Titillium Web', sans-serif; }
  .footer .footer__logo {
    width: 20px;
    height: auto; }
    .footer .footer__logo:hover {
      transform: scale(1.1); }
  .footer .footer__logo2 {
    width: 14px;
    height: auto; }
  .footer .footer__elementos {
    font-size: 14px; }
  .footer .footer__elementos2 {
    font-size: 12px; }
  .footer .footer__links {
    color: black;
    text-decoration: none; }
    .footer .footer__links:hover {
      color: coral; }
  .footer .footer_boton:hover {
    box-shadow: 1px 1px 10px #888484; }
  .footer .footer__pagos {
    width: 40px;
    height: auto; }

/*------------------MEDIAQUERIES------------------*/
@media screen and (max-width: 576px) {
  /*-------------mainmediastyle1-------------*/
  .card {
    margin: 10px; }
  /*-------------mainmediastyle2-------------*/
  .galeria {
    display: grid;
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 .";
    column-gap: 0.5rem;
    row-gap: 0.5rem; } }
