/*------------------FUENTES------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:ital,wght@1,100&display=swap");
/*------------------BASEGENERAL------------------*/
/*------------------RESETEO------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*------------------BODY------------------*/
body {
  font-family: 'Montserrat', sans-serif; }

/*------------------NAV------------------*/
.nav__logo {
  height: 45px; }
  .nav__logo:hover {
    transform: scale(1.1); }

/*------------------MAINstyleINICIO------------------*/
.mainCarrusel {
  height: auto; }

/*------------------MAIN-style-1CURSOS------------------*/
.card:hover {
  box-shadow: 1px 1px 15px #e0d6d6; }

.btn:hover {
  box-shadow: 1px 1px 10px #888484; }

/*------------------MAIN-style2-MAQUILLAJES-----------------*/
.galeria {
  display: grid;
  height: auto;
  grid-template-areas: "foto1 foto1 foto2 foto3 foto4" "foto1 foto1 foto5 foto6 foto6" "foto7 foto8 foto9 foto6 foto6";
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 20px 40px; }
  .galeria .galeria__fotos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
    box-shadow: 1px 1px 15px #d1cccc; }
    .galeria .galeria__fotos:hover {
      transform: scale(1.1); }

#foto1 {
  grid-area: foto1; }

#foto2 {
  grid-area: foto2; }

#foto3 {
  grid-area: foto3; }

#foto4 {
  grid-area: foto4; }

#foto5 {
  grid-area: foto5; }

#foto6 {
  grid-area: foto6; }

#foto7 {
  grid-area: foto7; }

#foto8 {
  grid-area: foto8; }

#foto9 {
  grid-area: foto9; }

/*------------------MAIN-style3-SOBRENOS-----------------*/
.main__imgh {
  width: 100%;
  height: auto; }

/*------------------FOOTER------------------*/
.footer {
  height: 10vh; }
  .footer .footer__logo {
    width: 20px;
    height: auto; }
    .footer .footer__logo:hover {
      transform: scale(1.1); }
  .footer .footer__logo2 {
    width: 14px;
    height: auto; }
  .footer .footer__elementos {
    font-size: 14px; }
  .footer .footer__elementos2 {
    font-size: 12px; }
  .footer .footer__links {
    color: black;
    text-decoration: none; }
    .footer .footer__links:hover {
      color: coral; }
  .footer .footer_boton:hover {
    box-shadow: 1px 1px 10px #888484; }
  .footer .footer__pagos {
    width: 40px;
    height: auto; }

/*------------------MEDIAQUERIES------------------*/
@media screen and (max-width: 576px) {
  /*-------------footermedia-------------*/
  .footer__numero {
    margin: 15px; }
  /*-------------mainmediastyle1-------------*/
  .card {
    margin: 10px; }
  /*-------------mainmediastyle2-------------*/
  .galeria {
    display: grid;
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 .";
    column-gap: 0.5rem;
    row-gap: 0.5rem; } }
